@import url('layout/base.css');

/* resolutions */
$tablets: 768px;
$phones: 480px;

@mixin tablets {
	@media screen and (max-width: $tablets) {
		@content;
	}
}

@mixin phones {
	@media screen and (max-width: $phones) {
		@content;
	}
}

html {
	font-size: 16px;

	@include tablets {
		font-size: 15px;
	}

	@include phones {
		font-size: 14px;
	}
}

* {
	box-sizing: border-box;
}

html, body, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;

}

.wrapper {
	min-height: 100%;
}

section {
	min-height: 40.625rem;
}

.container {
	width: 58.75rem;
	height: 100%;
	margin: 0 auto;
}

.nav-buttons {
	position: fixed;
	top: 5.625rem;
	right: 2.9375rem;
	display: block;

	&__list {
		list-style: none;

		.nav-buttons__item {
			position: relative;
			width: 0.375rem;
			height: 0.375rem;
			border-radius: 50%;
			background-color: #fff;
			margin-bottom: 0.9375rem;

			&:hover .nav-buttons__link {
				width: 1.25rem;
				height: 1.25rem;
			}

			.nav-buttons__link-active {
				width: 1rem;
				height: 1rem;
				border-radius: 50%;
				border: 1px solid #fff;
			}
			
			.nav-buttons__link:after {
				content: '';
				position: absolute;
				top: 50%;
				left:50%;
				transform: translate(-50%, -50%);
				width: 1rem;
				height: 1rem;
				border-radius: 50%;
			}
			.nav-buttons__link {
				position: absolute;
				top: 50%;
				left: 50%;
				border: 1px solid #fff;
				border-radius: 50%;
				transition: 0.3s;
				width: 0;
				height: 0;
				transform: translate(-50%, -50%);
			}

			.nav-buttons__link-active {
				width: 1rem;
				height: 1rem;
			}
		}
	}
}

.welcom-page {
	background: url(../img/welcome-bg.jpg) no-repeat center;
	background-size: cover;
	min-height: 100vh;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 0.5625rem;

	.header__sidebar {
		display: flex;
	}
}

.header__sidebar-nav {
	display: flex;
	align-items: center;
	color: #fff;
	list-style: none;
	font-family: 'Ubuntu';
	font-weight: medium;
	font-size: 0.8125rem;

	.header__sidebar-item {
		margin-right: 0.9375rem;
		margin-top: -0.1875rem;

		&:after {
			content: '•';
			margin-left: 0.8125rem;
		}

		&:last-child:after {
			content: none;
		}
		
	}
}

.header__submit {
	border: none;
	width: 6.0625rem;
	height: 2.1875rem;
	border-radius: 0.25rem;
	background-color: #e45028;
	cursor: pointer;
	margin-left: -0.1875rem;
	color: #fff;
	font-weight: 500;
	font-size: 0.8125rem;
}

.header__sidebar-link {
	text-decoration: none;
	color: #dfdfdf;
	width: 6.0625rem;
	height: 2.1875rem;
}

.header__sidebar-link:hover {
	text-decoration: none;
	color: #fff;
	width: 6.0625rem;
	height: 2.1875rem;
}


.content-welcome {
	display: flex;
	align-items: center;
	margin-bottom: 6.1875rem;
	margin-top: -0.5rem;

	.content-welcome__burger {
		margin-left: 1.25rem;
	}

	.content-welcome__text {
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: -1.25rem;

		.content-welcome__yellow {
			font-family: 'Gagalin';
			font-size: 4.5rem;
			color: #f9b43b;
			margin-bottom: 0.3125rem;
			margin-top: 4.25rem;
			margin-left: 2.0625rem;
		}

		.content-welcome__white {
			font-family: 'LIfehack';
			font-size: 4.0625rem;
			color: #fff;
			line-height: 3.75rem;
			margin-left: 2.0625rem;
			letter-spacing: -0.125rem;
		}
	}
}

.arrow-scrool {
	width: 1.875rem;
	height: 0.9375rem;
	margin-left: 49%;

	.arrow-scrool-img {
		width: 1.875rem;
		height: 0.9375rem;
		margin-bottom: 2.25rem;
	}
}


.webest {
	width: 100%;
	height: 100vh;
	background: url('../img/bg.svg') no-repeat center top / cover;
	background-size: cover;
	padding-top: 3.75rem;
	box-sizing: border-box;

	.webest__title {
		font-family: Gagalin;
		font-size: 4.5rem;
		color: #000;
		text-align: center;
		box-sizing: border-box;
		margin-bottom: 4.5625rem;
	}

	.webest__content {
		display: flex;
		justify-content: space-between;
		
		.webest__content-img {
			margin-bottom: 1.6875rem;
		}

		.webest__content-title {
			font-family: 'LIfehack';
			font-size: 1.5rem;
			color: #000;
			margin-bottom: 1.125rem;
			line-height: 1.2em;
		}

		.webest__content-text {
			font-family: 'Ubuntu';
			font-size: 0.875rem;
			color: #757474;
			text-align: auto;
			margin-left: 0.4375rem;
			line-height: 1.71em;
		}

		.webest__content-item {
			width: 18.75rem;
			text-align: center;

			&:nth-child(2) {
				.webest__content-img {
					margin-bottom: 1.875rem;
				}
				.webest__content-text {
					line-height: 1.71em;
				}
				.webest__content-title {
					margin-bottom: 0.9375rem;
				}
			}
			
			&:last-child {
				.webest__content-img {
					margin-bottom: 2.5rem;
				}
				.webest__content-text {
					margin-left: 0.8125rem;
					text-align: justify;
					letter-spacing: -0.1px;
				}
				.webest__content-title {
					margin-left: 1rem;
					margin-bottom: 0.5rem;
				}
			}
		}
	}
}

.comments {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;

	.comments-container {
		width: 100%;
		display: block;

		.comments__list {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;


			.comments__item {
			width: 25%;
			height: 50vh;
			min-height: 20.3125rem;	
			position: relative;
			overflow: hidden;

				&:hover .comments__text {
					opacity: 1;
				}

				.comments__img {
				min-height: 101%;
				min-width: 101%;
				height: 50vh;
				filter: grayscale(100);
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
				}

				.comments__text {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.7);
					padding: 2.5rem 4.375rem 0 1.25rem;
					color: #fff;
					opacity: 0;

					.comments__text-name {
						font-family: 'Gagalin';
						font-size: 0.875rem;
					}

					.comments__text-desc {
						font-family: 'Ubuntu';
						font-size: 0.875rem;
						line-height: 1.75;
					}

					.comments__text-link {
      					font-family: 'Ubuntu';
      					font-weight: 500;
      					font-style: normal;
      					font-size: 0.8125rem;
      					text-transform: uppercase;
      					background-color: #333;
      					padding: 0.5625rem 0.125rem 0.5rem 0;
      					width: 6.875rem;
      					border-radius: 0.375rem;
      					text-align: center;
      					color: #fff;
      					display: block;
      					height: 2.1875rem;
      					width: 6.875rem;
      					text-decoration: none;
      					}
      					.comment__text-more:hover {
        					background-color: #1f1f1f; }
				}
			}
		

		
		}
	}
	
	
}

.order {
	height: 100vh;
	width: 100%;
	background: #f9b43b;
	box-sizing: border-box;
}

.order__content {
	display: flex;

	.order__content-left {
		width: 28.75rem;
		margin-right: 1.5rem;
		height: 100vh;
		display: flex;
		justify-content: center;
		position: relative;

		.order__content-top {
			position: absolute;
			top: 5.625rem;
			left: 0;
			display: flex;

			.order__content-watch {
			width: 5.625rem;
			height: 5.625rem;
			background-color: #f08c33;
			border-radius: 0.625rem;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			cursor: pointer;
			}

			.order__content-composition {
				width: 0;
				height: 0;
				overflow: hidden;
			}

			.order__content-watch:hover +  .order__content-composition {
				width: 17rem;
				height: 20.875rem;
				background: #fff;
				opacity: 0.9;
				border-radius: 0.3125rem;

				.order__content-list {
					list-style: none;
					padding: 0 0 0 1.25rem;
					font-family: 'Ubuntu';
					font-size: 0.875rem;
					font-weight: medium;

					.order__content-item {
						display: flex;
						align-items: center;
						margin-bottom: 0.625rem;

						.order__content-product{
							display: flex;
							align-items: center;

							.order__content-burger {
								width: 3.125rem;
								height: 2.5rem;
							}

							.order__content-text {
								font-weight: light;
								margin-left: 1.5625rem;
							}
						}

						.order__content-gramm {
							margin-left: 4.0625rem;
						}
					}
				}
			}
		}
		
		.order__content-menu-text {
			font-family: 'Gagalin';
			font-size: 0.875rem;
			color: #fff;
		}

		.order__content-bottom {
			position: absolute;
			width: 5.625rem;
			height: 5.625rem;
			top: 29.99rem;
			left: -0.75rem;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			cursor: pointer;
		}
	}

	.order__content-right {
		width: 50%;
		padding-top: 4.9375rem;

		.order__content-title {
			font-family: 'Gagalin';
			font-size: 4.5rem;
			color: #fff;
			line-height: 4.2rem;
			margin-bottom: 2.3175rem;
		}

		.order__content-text {
			font-family: 'Ubuntu';
			font-size: 0.875rem;
			color: #fff;
			font-weight: light;
			line-height: 1.5rem;
			margin-bottom: 0.625rem;
		}

		.order__content-cost {
			display: flex;
			align-items: flex-end;
			
			.order__submit {
				margin-bottom: 0.4375rem;
			}

			.order__content-price {
				font-family: 'Gagalin';
				font-weight: bold;
				color: #e35028;
				font-size: 1.875rem;
				margin-right: 0.9375rem;

				.order__content-number {
					font-size: 4.5rem;
					margin: 0;
					padding: 0;
				}
			}
		}
	}
}




.team {
	width: 100%;
	height: 100vh;
	background-image: url(../img/twoboys.jpg);
	box-sizing: border-box;
	position: relative;
}

.team__content {
	box-sizing: border-box;
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(49, 49, 49, 0.903226);
	padding: 5.625rem 0 0 5rem; 

	.team__title {
		margin: 0;
		font-family: 'Gagalin';
		font-size: 4.5rem;
		color: #f9b43b;
		margin-bottom: 5.625rem;
	}

	.team__people {
		width: 23.75rem;
		list-style: none;
		margin: -1.125rem 0 0 0.4375rem;
		padding: 0;

		.team__people-item {
			display: flex;
			flex-direction: column;
			margin-bottom: 0.75rem;


			.team__people-top {
				display: flex;
				align-items: center;
				margin-bottom: 1.2rem;
				cursor: pointer;

				.team__people-name {
					color: #fff;
					font-family: 'Gagalin';
					font-size: 0.875rem;

				}

				.team__people-icon {
				width: 0.625rem;
				height: 0.375rem;
				margin-right: 0.625rem;
				background-image: url(../img/Polygon1.svg);
				background-repeat:  no-repeat;

				}
			}

			.team__people-bottom {
				display: flex;
				justify-content: flex-start;
				opacity: 0;
				overflow: hidden;
				height: 0;

				.team__people-portret {
					
					width: 6.25rem;
					height: 6.25rem;
					border-radius: 50%;
					position: relative;
					overflow: hidden;
					margin-left: 0.9375rem;

					.team__people-img {
						position: absolute;
						height: 6.25rem;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}

				.team__people-info {
						width: 13.125rem;
						margin-left: 1.3rem;
						margin-top: -0.1875rem;

						.team__people-occ {
							font-family: 'Ubuntu';
							font-size: 0.875rem;
							font-weight: bold;
							color: #fff;
							margin-bottom: 0.9rem;
						}

						.team__people-text {
							font-family: 'Ubuntu';
							font-size: 0.875rem;
							color: #fff;
							line-height: 1.39rem;
							width: 15.3125rem;
						}
					}
			}

			
		}

		.team__people-item_active {

			.team__people-top {

				.team__people-icon {
				width: 0.625rem;
				height: 0.375rem;
				margin-right: 0.625rem;
				background-image: url(../img/Polygon1.svg);
				background-repeat:  no-repeat;
				transform: rotate(180deg);
				transform-origin: center;
				}
			}

			.team__people-bottom {
				opacity: 1;
				height: auto;
				margin-bottom: 1.63rem;
			}
			
		}
	}
}

.menu {
	height: 100vh;
	width: 100%;

	.menu__content {
		width: 100%;
		height: 100%;
		background: url(../img/menu-burger.jpg);
		background-size: cover;
		background-position: 0 50%;
		position: relative;


		.menu__content-title {
			font-family: 'Gagalin';
			font-size: 4.5rem;
			color: #fff;
			position: absolute;
			top: 10%;
			left: 15%;
		}

	.menu__slide {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: flex-end;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;


		.menu__slide-item {
			width: 5rem;
			height: 100%;
			position: relative;
			display: flex;
			overflow: hidden;
			transition: 0.3s;

			.menu__slide-img {
				height: 100%;
				max-width: none;
				transform: translate(-60%, 0%);
				transition: 0.6s;
			}

			.menu__slide-info {
				background-color: rgba(27, 27, 27, 0.61);
				display: flex;
				justify-content: flex-start;
				z-index: 2;
				width: 100%;

				.menu__slide-title {
					color: #fff;
				    font-family: 'Gagalin';
				    font-weight: 400;
				    line-height: 1.42;
				    margin: 0;
				    font-size: 2.5rem;
				    width: 25rem;
				    text-align: center;
				    position: absolute;
				    transform: rotate(-90deg) translate(-50%, -50%);
				    top: 15%;
				    left: -8.0625rem;
				    transition: 0.3s;
				}

				.menu__slide-text {
					font-family: 'Ubuntu';
					margin: 0;
				    padding: 3.9375rem 2.1875rem;
				    font-size: 0.875rem;
				    position: absolute;
				    width: 34.1875rem;
				    color: #fff;
				    background-color: rgba(49, 49, 49, 0.7);
				    height: 100%;
				    left: 5rem;
				    line-height: 1.5rem;
				    font-weight: 500;
				}
			}

			&:hover {
				width: 39rem;
				transition: 0.3s;


			}
			&:hover .menu__slide-img {
					transform: translate(-10%, 0%);
				}
		}
	}
	}
}

.form {
	width: 100%;
	height: 100vh;
	background-image: url(../img/bg-form.jpg);
	
}

.form__title {
	font-family: 'Gagalin';
	font-size: 4.5rem;
	color: #f9b43b;
	padding-top: 4.4rem;
	text-align: center;
	box-sizing: border-box;
	margin-bottom: 4.4rem;
}

.content-part__div {
	position: relative;
}

.content-part__div-span {
	width: 0px;
	height: 0px;
	background-color: #e45028;
	border-radius: 50%;
	position: absolute;
    top: 30%;
    left: 30%;
					    }

.form__content {
	

	.section-form {
		display: flex;
		
		.form__content-part:first-child {
			margin-left: 0;
		}

		.form__content-part:last-child {
			.content-part__column {
				.content-part__block {
					margin-bottom: 0.7rem;
				}
			}
		}

		.form__content-part {
			width: 49.1%;
			margin-left: 1.25rem;

			.content-part__column {
				display: flex;
				justify-content: flex-start;


				.content-part__block {
					margin-bottom: 1.11rem;
					flex: 1;
					margin-right: 1.09rem;
    				position: relative;

					.content-part__text {
						font-family: 'Ubuntu';
						font-size: 0.875rem;
						color: #fff;
						width: 100%;
						
					}

					.content-part__input {
						color: #fff;
						width: 100%;
						margin-top: 0.3rem;
						height: 2.1875rem;
						border: 0.125rem solid transparent;
						border-radius: 0.3125rem;
					}

					.content-part__textarea {
						width: 100%;
						height: 6.875rem;
						border: 0.125rem solid transparent;
						border-radius: 0.3125rem;
						margin-top: 0.4rem;
					}
				}

				.content-part__block:last-child {
					margin-right: 0;
    			}

				.content-part__label {
					justify-content: flex-start;
    				margin-right: 1.2rem;
					margin-bottom: 1rem;


					.content-part__input-radio {
						display: inline-block;
					    vertical-align: middle;
					    position: absolute;
					    left: -9999px;

					}

					.content-part__input-radio:checked + .content-part__div .content-part__div-span {
						width: 0.375rem;
    					height: 0.375rem;
					}

					.content-part__div {
						display: inline-block;
						width: 0.875rem;
					    height: 0.875rem;
					    background-color: #fff;
					    border-radius: 50%;
					    position: relative;
					    vertical-align: middle;
					    position: relative;
					    margin-right: 0.375rem;

					    .content-part__div-span {
						    width: 0px;
						    height: 0px;
						    background-color: #e45028;
						    border-radius: 50%;
					    }
					}

					.content-part__text {
						font-family: 'Ubuntu';
						font-size: 0.875rem;
						display: inline-block;
						color: #fff;
						
					}

					.content-part__input {
						display: inline-block;
					    vertical-align: middle;
					    position: absolute;
					    left: -9999px;
					}

				}
			}
		}
	}
}

.order-disturb {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 0.625rem;
  margin-left: -0.0625rem;
  margin-bottom: 1.16rem; }
  .order-disturb__input {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: -9999px; }
  .order-disturb__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.875rem;
    height: 0.9375rem;
    background-color: #fff;
    position: relative;
    margin-top: 0.125rem;
 }
  .order-disturb__img {
    width: 0px;
    height: 0px;
    fill: #e45028;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  .order-disturb__text {
  	font-family: 'Ubuntu';
  	font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 0.875rem;
    margin: 0;
    margin-left: 0.6rem; }

.order-disturb__input:checked + .order-disturb__checkbox .order-disturb__img {
  width: 0.625rem;
  height: 0.625rem; }

.form__row {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0.3125rem;

	.form__clear {
		font-family: 'Ubuntu';
		font-size: 0.875rem;
		font-weight: light;
		margin-left: 1.25rem;

		.form__clear-link {
			text-decoration: none;
			color: #fff;
		}
	}
}

.content-part__input:focus {
    outline-radius: 0.3125rem;
    outline: 0.125rem solid #e45028;
}

.content-part__textarea:focus {
    outline-radius: 0.3125rem;
    outline: 0.125rem solid #e45028;
}

.map {
	width: 100%;
	height: 100vh;
	background-image: url(../img/map-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: flex-end;
}

.footer {
	background: url(../img/footer-texture.jpg);
	width: 100%;
	height: 3.625rem;
}

.footer__half {
	display: flex;

	.footer__col {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.footer-col__column {
			color: #fff;
			font-family: 'Ubuntu';
			font-size: 0.875rem;

			.footer-col__logo {
				display: inline-block;
				cursor: pointer;
			}

			.footer-col__numb {
				display: inline-block;
				color: #b13f21;
				font-weight: 700;
				margin-left: 0.3125rem;
				cursor: pointer;
			}
		}

		.footer-col__column:first-child {
			margin-bottom: 0.5rem;
		}

		.social__list {
			list-style: none;
			padding: 0;
			text-align: right;

			.social__item {
				display: inline-block;
				width: 1.25rem;
				height: 1.25rem;
				margin-left: 0.9rem;

				.social__link {

					.social__img {
						width: 1.25rem;
						height: 1.25rem;
						fill: grey;
					}
				}

				.social__link:hover {

					.social__img {
						fill: #fff;
						width: 1.25rem;
						height: 1.25rem;
					}
				}
			}
		}
	}
}