.webest__cover {
	

	@include tablets {
		
	}

	@include phones {
		padding: 0 0rem 0 1.5rem;
	}
}

#webest {
	width: 100%;
	background: url('../img/bg.svg') no-repeat center top / cover;
	background-size: cover;
	padding: 3.75rem 0.625rem;
	box-sizing: border-box;

	@include phones {
		padding: 3.14rem 0.21rem;
	}

	.webest__title {
		font-family: Gagalin;
		font-size: 4.5rem;
		color: #000;
		text-align: center;
		box-sizing: border-box;
		margin-bottom: 4.5625rem;

		@include tablets {
			margin-bottom: 11.1rem;
			margin-top: 3.2rem;
			letter-spacing: 0.2rem;
		}

		@include phones {
			font-size: 10.5vw;
			margin-bottom: 5.57rem;
			letter-spacing: 0px;
			margin-top: 0;
			margin-left: -0.57rem;
		}
	}

	.webest__content {
		display: flex;
		justify-content: space-between;

		@include tablets {
			padding: 0 0 0 1.42rem;
		}

		@include phones {
			flex-direction: column;
			padding: 0;
		}

		.webest__content-item {
			
			@include phones{
				margin-bottom: 3.86rem;
			}

			.w-c-i-box {
			height: 5.625rem;
			margin-bottom: 1.5635rem;

				@include tablets {
					margin-bottom: 2.46rem;
				}

				@include phones {
					height: 6.43rem;
					margin-bottom: 0px;
					margin-right: 2.14rem;
					min-width: 6.93rem;
					text-align: center;
				}

				.webest__content-img {

					@include tablets {
						margin-left: -1rem;
					}

					@include phones {
						margin-left: 0;
					}
				}
			}
		}

		.webest__content-item-row {
			.webest__content-title {
				font-family: 'LIfehack';
				font-size: 1.5rem;
				color: #000;
				margin-bottom: 0.8125rem;
				line-height: 1.2em;

				@include tablets {
					margin-bottom: 0.73rem;
					line-height: auto;
				}

				@include phones {
					margin-top: -0.35rem;
					font-size: 1.64rem;
					margin-bottom: 1.14rem;
				}
			}

			.webest__content-text {
				font-family: 'Ubuntu';
				font-size: 0.875rem;
				color: #757474;
				text-align: auto;
				margin-left: 0.4375rem;
				line-height: 1.71em;

				@include tablets {
					margin-left: 0;
					line-height: 1.56rem;
				}

				@include phones {
					font-size: 1rem;
				}
			}
		}

		

		

		.webest__content-item {
			width: 18.75rem;
			text-align: center;

			@include tablets {
				width: 224px;
			}

			@include phones {
				width: auto;
				text-align: left;
				flex-direction: row;
				display: flex;
			}

		}
	}
}